# for golang project

# Ignore all markdown files
*.md

# But allow these specific ones
!README.md
!TODO.md

.env
env.yaml
config.yaml
.zed/
deploy/
keys/
docs/
*.log
log.json
vendor/
bin/
*.exe
*.dll
*.so
*.dylib
*.test
*.out
coverage.out
.idea/
.vscode/
.DS_Store
coverage/
*.prof
build/
tmp/